@font-face {
  font-family: "myFont";
  src: url("../fonts/JF-OPENHUNINN-1.1.TTF");
}

@font-face {
  font-family: "myFont2";
  src: url("../fonts/SEGOESC.TTF");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  // font-family: "Roboto", sans-serif;
  font-family: "myFont", sans-serif;
  background-color: rgb(49, 66, 71);
}

.footer {
  font-family: "myFont2", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  h1 {
    font-size: 3rem;
  }
}

.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  button {
    font-family: "myFont2", sans-serif;
    padding: 0.25rem 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: rgb(204, 164, 166);
    color: rgb(56, 41, 40);
    cursor: pointer;
  }
}

.error {
  background-color: rgb(255, 154, 154);
  color: rgb(255, 0, 0);
  padding: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 850px) {
  body {
    width: 100%;
    nav {
      .search {
        input {
          font-size: 2rem;
          width: 90vw;
          height: 7vh;
          margin-right: 0rem;
          margin-left: 1rem;
        }
      }
    }
    .picture {
      margin-left: 3.5rem;
    }
    div.about {
      nav {
        width: 100%;
      }
      section.contact {
        section.logo {
          img {
            width: 50vw;
            height: 25vh;
          }
        }
        section.form {
          margin-left: 0rem;
          div.form2 {
            width: 100%;
            margin-right: 2rem;
            h1 {
              font-size: 2rem;
              margin-left: 0rem;
              margin-right: 0rem;
              margin-top: 2rem;
              margin-bottom: 3rem;
              padding-left: 0rem;
            }
            div {
              padding: 0 0;
              width: 80vw;
              input {
                width: 70vw;
                margin: 1rem 1rem;
                color: black;
              }
            }
            div.button {
              margin: 2rem 0rem 0rem 0rem;
              width: 70vw;
              margin-left: 2rem;
            }
          }
        }
      }
    }
    div.footer {
      width: 100%;
    }
  }
}

@import "./nav";
@import "./footer";
@import "./picture";
@import "./login";
